extends ../layout

block content
  .row.mtop-10
    .col.s12.m8.offset-m2
      .card.grey.valign-wrapper
        .card-content
          span.white-text.card-title Registro
          form.col.s12(action='/auth/login', method='post')
            .row
              .input-field.col.s12
                input#fname.validate.white-text(type='text', name='fname', required)
                label.white-text(for='fname') Nombre
              .input-field.col.s12
                input#lname.validate.white-text(type='text', name='lname', required)
                label.white-text(for='lname') Apellidos
              .input-field.col.s12
                input#email.validate.white-text(type='email', name='email', required)
                label.white-text(for='email') Email
              .input-field.col.s12
                input#password.validate.white-text(type='password', name='password', required)
                label.white-text(for='password') Password
              .input-field.col.s12
                input#submit.btn.waves-effect.right(type='submit', required)