extends ../layout
block content
    .container.landing
        .row
            .col.s12.push-s1
                .row
                    .col.m5.hide-on-small-only
                        img.iphone(src='/images/iphone.png')
                    .col.s12.m7
                        .row
                            .signup-box
                                h1.platzigram Restaurantify
                                form.signup-form(action='/auth/signup', method='POST')
                                    h2 Regístrate para ver las recomendaciones de tus amigos sobre restaurantes
                                    .section
                                        a.btn.btn-fb.hide-on-small-only Registrarse con Facebook
                                        a.btn.btn-fb.hide-on-med-and-up
                                            i.fa.fa-facebook-official
                                            |  Iniciar sesión
                                    .divider
                                    .section
                                        input(type='email', name='email', placeholder="Correo electrónico", required)
                                        input(type='text', name='name', placeholder="Nombre (s)", required)
                                        input(type='text', name='username', placeholder="Nombre de usuario", required)
                                        input(type='password', name='password', placeholder="Contraseña", required)
                                        button.btn.waves-effect.waves-light.btn-signup(type='submit') Regístrate
                        .row
                            .login-box
                                |   ¿Tienes una cuenta? 
                                a(href='/auth/signin') Entrar