extends layout

block content
  nav
    .nav-wrapper
      a.brand-logo(href='#') #{title}
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href='#!') Opción 1
        li
          a(href='#!') Opción 2
        li
          a(href='#!') Auth
  section#header
    .container
      .row
        .col.l12.s12.m12
          h4.center Bienvenido a #[b #{title}]
