doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section#header-container
    section#main-container
    block content
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/materialize.min.js')
    script(src='/javascripts/app.js', type='application/javascript')