$primary-color: #351F39 !default
$secondary-color: #726A95 !default
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900')
@import "node_modules/materialize-css/sass/materialize.scss"
body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
