$primary-color: #FA5710 !default
$secondary-color: #125688 !default
$roboto-thin: 'Roboto-Thin', sans-serif
$roboto-light: 'Roboto-Light', sans-serif
$roboto-medium: 'Roboto-Medium', sans-serif
$roboto-regular: 'Roboto-Regular', sans-serif
$roboto-bold: 'Roboto-Bold', sans-serif
$roboto-black: 'Roboto-Black', sans-serif
@import "node_modules/materialize-css/sass/materialize.scss"
@font-face 
    font-family: $roboto-thin
    src: url('fonts/Roboto-Thin.ttf') format('truetype')
@font-face 
    font-family: $roboto-light
    src: url('fonts/Roboto-Light.ttf') format('truetype')
@font-face 
    font-family: $roboto-regular
    src: url('fonts/Roboto-Regular.ttf') format('truetype')
@font-face 
    font-family: $roboto-medium
    src: url('fonts/Roboto-Medium.ttf') format('truetype')
@font-face 
    font-family: $roboto-bold
    src: url('fonts/Roboto-Bold.ttf') format('truetype')
@font-face 
    font-family: $roboto-black
    src: url('fonts/Roboto-Black.ttf') format('truetype')
html
  font-family: $roboto-regular
  color: lighten($primary-color, 20%)
  background: #fafafa
h1, h2, h3, h4, h5, h6
  font-family: $roboto-medium
b
  font-family: $roboto-black
.mtop-1
  margin-top: 1em
.mtop-2
  margin-top: 2em
.mtop-3
  margin-top: 3em
.mtop-4
  margin-top: 4em
.mtop-5
  margin-top: 5em
.mtop-6
  margin-top: 6em
.mtop-7
  margin-top: 7em
.mtop-9
  margin-top: 9em
.mtop-10
  margin-top: 10em