extends ../layout
block content
    .container.landing
        .row
            .col.m7.push-m2
                each restaurant in restaurants
                    - var imag_url = restaurant.mainPicture
                    - var rest_url = restaurant._id
                    - var user_url = restaurant.createdBy._id
                    .card
                        .card-image
                            if restaurant.mainPicture
                                img.activator(src='/uploads/'+imag_url)
                            if !restaurant.mainPicture
                                img.activator(src='https://res.cloudinary.com/uv-marketing/image/upload/v1500773833/ligl007_picture.jpg')
                            i.fa.fa-heart.like-heart
                        .card-content
                            a.card-title(href='/restaurants/'+rest_url) #{restaurant.name}
                                img.avatar(src='https://res.cloudinary.com/uv-marketing/image/upload/v1500773490/ligl007_procfile.jpg')
                                a.username(href='/users/'+user_url) #[small #[b Por: ] #{restaurant.createdBy.username}]
                            small.right.time= moment(restaurant.created).fromNow()
                            p
                                a.left(href='#!')
                                    i.fa.fa-heart-o.heart-o
                                a.left(href='#!')
                                    i.fa.fa-heart.heart
                                span.left.likes #{restaurant.visits}