extends ../layout
block content
    .container
        .row
            .col.l12.m12.s12
                ul.collection.with-header
                    li.collection-header #[h4 Mis restaurantes]
                    each restaurant in restaurants
                        li.collection-item
                            img.circle.avatar(src='/uploads/'+restaurant.mainPicture)
                            span.title #[a(href='/restaurants/'+restaurant._id) #{restaurant.name}] #[br] #[small= restaurant.address] 